#! This is an example configuration file

# Environment
ENVIRONMENT="DEVELOPMENT"

# Application
PORT=8080
HOST="localhost"

# Database
POSTGRES_DB="my_db"
POSTGRES_USER="my_user"
POSTGRES_PASSWORD="my_password"
POSTGRES_HOST="localhost"
POSTGRES_PORT=5432