#! This is an example configuration file

# Environment
ENVIRONMENT="DEVELOPMENT"

# Application
PORT=8080
HOST="localhost"

# JWT
JWT_SECRET_KEY="my_secret_key"
JWT_ALGORITHM="HS256"
JWT_ACCESS_EXPIRE_MINUTES=10080

# Database
POSTGRES_DB="my_db"
POSTGRES_USER="my_user"
POSTGRES_PASSWORD="my_password"
POSTGRES_HOST="localhost"
POSTGRES_PORT=5432